In [1]:
#Created: 15Apr2022
#Author: Lynn Menchaca

#Resources:
#Kaggle Competition-> Spaceship Titanic

#Purpose: Clean and Analyze Data File

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.style as style

In [3]:
data_file_path = '/Users/lynnpowell/Documents/DS_Projects/Spaceship_Titanic/'
df_train = pd.read_csv(data_file_path+'train.csv')
df_test = pd.read_csv(data_file_path+'test.csv')

df_train.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [4]:
#Test data frame is missing one column: Transported (the result)
print(df_train.shape)
print(df_test.shape)
df_train.dtypes

(8693, 14)
(4277, 13)

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [5]:
#find all the missing values in each column
df_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [6]:
#Looking at how many rows have multiple missing data columns
df_train.isnull().sum(axis=1).value_counts()
#df[df.isnull().sum(axis=1)==3]
#Total Number of rows with missing data: 2087

0    6606
1    1867
2     203
3      17
dtype: int64

In [7]:
#Pulling group information from the passenger IDs
df_train['ID_Group']=df_train['PassengerId'].str.split('_').str[0]
df_test['ID_Group']=df_test['PassengerId'].str.split('_').str[0]
df_train['ID_Group'].describe()

count     8693
unique    6217
top       4498
freq         8
Name: ID_Group, dtype: object

In [8]:
df_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
ID_Group          0
dtype: int64

In [9]:
#Checking assumption if the passenger is in suspended animation they don't spend money
df_cryo = df_train[df_train['CryoSleep']==True]
df_cryo[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].sum()

RoomService     0.0
FoodCourt       0.0
ShoppingMall    0.0
Spa             0.0
VRDeck          0.0
dtype: float64

In [10]:
df_train[(df_train['CryoSleep'].isna()) & (df_train['RoomService']!=0) & (df_train['FoodCourt']!=0) & 
              (df_train['ShoppingMall']!=0) & (df_train['Spa']!=0) & (df_train['Spa']!=0)]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,ID_Group
453,0487_01,Europa,NaN,C/19/S,TRAPPIST-1e,39.0,False,172.0,1794.0,12.0,4303.0,246.0,Sadirak Obeaded,False,0487
1616,1711_01,Earth,NaN,F/327/S,TRAPPIST-1e,51.0,False,437.0,244.0,908.0,825.0,0.0,NaN,False,1711
3451,3714_01,Mars,NaN,F/702/S,TRAPPIST-1e,45.0,False,48.0,1652.0,761.0,138.0,0.0,All Harta,False,3714
3839,4108_02,Europa,NaN,B/158/S,TRAPPIST-1e,47.0,False,27.0,2651.0,538.0,18.0,0.0,Tachium Aroodint,True,4108
4129,4404_01,Earth,NaN,G/726/P,TRAPPIST-1e,38.0,False,NaN,2.0,404.0,121.0,0.0,Lis Scotterkins,False,4404
4295,4575_01,Earth,NaN,F/941/P,TRAPPIST-1e,21.0,False,3.0,65.0,253.0,475.0,0.0,Kris Solon,False,4575
4565,4863_01,Europa,NaN,T/2/S,TRAPPIST-1e,37.0,False,1721.0,667.0,NaN,28.0,1362.0,Phacton Unsible,False,4863
4834,5157_01,Earth,NaN,G/844/S,TRAPPIST-1e,40.0,False,814.0,12.0,2.0,NaN,79.0,Melia Gardsondez,True,5157
5409,5777_01,Earth,NaN,F/1199/P,PSO J318.5-22,46.0,NaN,559.0,25.0,NaN,22.0,765.0,Katen River,False,5777
5734,6076_01,Earth,NaN,G/988/S,TRAPPIST-1e,18.0,False,14.0,2.0,144.0,610.0,0.0,Therry Cames,True,6076
6119,6456_01,Earth,NaN,E/410/P,TRAPPIST-1e,36.0,False,32.0,3.0,657.0,58.0,41.0,Miken Gainney,False,6456
6226,6585_02,Earth,NaN,F/1260/S,TRAPPIST-1e,18.0,False,289.0,1809.0,3.0,2.0,2.0,Raque Hornettoney,True,6585
6783,7162_01,Earth,NaN,F/1485/P,TRAPPIST-1e,65.0,False,43.0,21.0,22.0,50.0,731.0,Bland Pernard,False,7162
7896,8431_02,Europa,NaN,B/277/P,55 Cancri e,26.0,False,1.0,4680.0,25.0,564.0,13.0,Zinoces Myling,False,8431
7936,8474_01,Earth,NaN,F/1632/S,55 Cancri e,21.0,False,39.0,53.0,94.0,33.0,518.0,Eriky Weaves,False,8474
7969,8514_01,Mars,NaN,F/1748/P,TRAPPIST-1e,51.0,False,870.0,28.0,278.0,154.0,1288.0,Kie Ste,False,8514
8162,8728_01,Earth,NaN,F/1798/P,TRAPPIST-1e,32.0,False,258.0,500.0,3.0,15.0,128.0,Justie Fulloydez,True,8728
8181,8743_01,Earth,NaN,F/1802/P,55 Cancri e,19.0,False,179.0,16.0,246.0,280.0,0.0,Isa Villenson,False,8743
8420,8993_01,Earth,NaN,F/1844/P,PSO J318.5-22,27.0,False,32.0,8.0,5.0,588.0,18.0,Juliey Hahnstonsen,False,8993

In [11]:
#Using money spent to prove CryoSleep is false
df_train.loc[((df_train['CryoSleep'].isna()) & (df_train['RoomService']!=0) & (df_train['FoodCourt']!=0) & 
              (df_train['ShoppingMall']!=0) & (df_train['Spa']!=0) & (df_train['Spa']!=0)),'CryoSleep'] = False

In [12]:
df_train[(df_train['CryoSleep']==True) & (df_train['RoomService']!=0) & (df_train['FoodCourt']!=0) & 
              (df_train['ShoppingMall']!=0) & (df_train['Spa']!=0) & (df_train['Spa']!=0)]

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, Name, Transported, ID_Group]
Index: []

In [13]:
df_train[(df_train['CryoSleep']==True) & (df_train['RoomService']!=0)]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,ID_Group
25,0020_05,Earth,True,E/0/S,PSO J318.5-22,1.0,False,NaN,0.0,0.0,0.0,0.0,Mael Brantuarez,False,0020
83,0091_01,Earth,True,G/16/S,TRAPPIST-1e,26.0,False,NaN,0.0,0.0,0.0,0.0,Deanne Yorkland,True,0091
233,0250_01,Earth,True,G/38/S,PSO J318.5-22,47.0,False,NaN,0.0,0.0,0.0,0.0,Camily Kramosley,False,0250
400,0438_01,Europa,True,B/13/S,TRAPPIST-1e,40.0,False,NaN,0.0,0.0,0.0,0.0,Dyonon Diateous,True,0438
889,0955_01,Earth,True,G/145/S,55 Cancri e,17.0,False,NaN,0.0,0.0,0.0,0.0,Glena Smalloney,False,0955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8312,8871_02,Earth,True,G/1432/S,PSO J318.5-22,15.0,False,NaN,0.0,NaN,0.0,0.0,Nadie Benney,True,8871
8361,8944_01,Earth,True,G/1442/S,PSO J318.5-22,0.0,False,NaN,0.0,0.0,0.0,0.0,Calvia Hobbinson,True,8944
8380,8961_01,Earth,True,G/1455/P,TRAPPIST-1e,1.0,False,NaN,0.0,0.0,0.0,0.0,Mariel Blancoy,True,8961
8412,8988_06,Earth,True,G/1448/S,TRAPPIST-1e,17.0,False,NaN,0.0,0.0,0.0,0.0,Caseye Fowlesterez,True,8988
8450,9026_01,Earth,True,G/1463/P,TRAPPIST-1e,58.0,False,NaN,0.0,0.0,0.0,0.0,Mathy Boyers,True,9026

In [14]:
#Making the assumption if the passengers are in the same family then they have the same:
#Homeplanet, CryoSleep, Cabin, Destination and VIP
fill_features = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

for feat in fill_features:
    null_index = df_train.index[df_train[feat].isnull()].tolist()

    for df_index in null_index:
        id_group = df_train['ID_Group'].iloc[df_index]
    
        if len(df_train[df_train['ID_Group']==id_group])>1:
            group_index = df_train.index[df_train['ID_Group']==id_group].tolist()
            group_index.remove(df_index)
            i = 0
            #check if value is null
            while i < len(group_index):
                if group_index[i] in null_index:
                    i += 1
                else:
                    break
            if i == len(group_index):
                i -= 1
            #df_train.loc[df_index, 'HomePlanet'] = df_train['HomePlanet'].iloc[[group_index[i]]]
            df_train[feat].iloc[[df_index]] = df_train[feat].iloc[[group_index[i]]]

/var/folders/t3/m14fghtd0fs5gl_s5tzd3h500000gn/T/ipykernel_4019/2675848560.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train[feat].iloc[[df_index]] = df_train[feat].iloc[[group_index[i]]]

In [15]:
df_train[(df_train['CryoSleep']==True) & (df_train['RoomService']!=0)]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,ID_Group
25,0020_05,Earth,True,E/0/S,PSO J318.5-22,1.0,False,NaN,0.0,0.0,0.0,0.0,Mael Brantuarez,False,0020
83,0091_01,Earth,True,G/16/S,TRAPPIST-1e,26.0,False,NaN,0.0,0.0,0.0,0.0,Deanne Yorkland,True,0091
233,0250_01,Earth,True,G/38/S,PSO J318.5-22,47.0,False,NaN,0.0,0.0,0.0,0.0,Camily Kramosley,False,0250
400,0438_01,Europa,True,B/13/S,TRAPPIST-1e,40.0,False,NaN,0.0,0.0,0.0,0.0,Dyonon Diateous,True,0438
417,0454_01,Europa,True,B/15/S,55 Cancri e,28.0,True,5.0,4288.0,0.0,745.0,5.0,Tabius Geoconne,True,0454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8312,8871_02,Earth,True,G/1432/S,PSO J318.5-22,15.0,False,NaN,0.0,NaN,0.0,0.0,Nadie Benney,True,8871
8361,8944_01,Earth,True,G/1442/S,PSO J318.5-22,0.0,False,NaN,0.0,0.0,0.0,0.0,Calvia Hobbinson,True,8944
8380,8961_01,Earth,True,G/1455/P,TRAPPIST-1e,1.0,False,NaN,0.0,0.0,0.0,0.0,Mariel Blancoy,True,8961
8412,8988_06,Earth,True,G/1448/S,TRAPPIST-1e,17.0,False,NaN,0.0,0.0,0.0,0.0,Caseye Fowlesterez,True,8988
8450,9026_01,Earth,True,G/1463/P,TRAPPIST-1e,58.0,False,NaN,0.0,0.0,0.0,0.0,Mathy Boyers,True,9026

In [16]:
#Fill the null spending values for the passengers in Cryo Sleep with 0
spend = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

for x in spend:
    df_train.loc[((df_train[x].isna()) & (df_train['CryoSleep']==True)),x] = 0
    df_test.loc[((df_test[x].isna()) & (df_test['CryoSleep']==True)),x] = 0

df_cryo = df_train[df_train['CryoSleep']==True]
df_cryo[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].sum()

RoomService     11253.0
FoodCourt       26857.0
ShoppingMall     5229.0
Spa              8619.0
VRDeck           6275.0
dtype: float64

In [17]:
df_trin.isnull().sum()

NameError: name 'df_trin' is not defined

In [ ]:
#How many rows have missing data
df_train.isnull().sum(axis=1).value_counts()
#Total Number of rows with missing data: 1786

In [ ]:
#Looking for more patters with Cryo Sleep
df_cryo.head(10)

In [ ]:
#Looking for titles, prefixes or suffixes in the name column
df_train['Name_len']=df_train['Name'].str.split().str.len()
df_train['Name_len'].value_counts()

In [ ]:
#Removing Name column since it is similar to the PassengerID column, since it does not include name title or prefixes
#Removing Name column because it has missing data
#Removing Name column becuase it does not include name title, prefixes or suffixes
df_train = df_train.drop(['Name','Name_len'],axis=1)
df_test = df_test.drop('Name',axis=1)

df_train.columns

In [ ]:
#General Look at Transported vs Stayed
trans_percent = df_train.Transported.value_counts() / len(df_train)
print('Percentage of Passengers Transported:')
print(trans_percent)

df_train.Transported.value_counts().plot(kind='bar')
plt.ylabel('Passenger Count')
plt.xlabel('Transported')
plt.title('Passengers Transported')
plt.show()
#No significant class imbalance

In [ ]:
#Pulling group information from the passenger IDs
df_train['ID_Group']=df_train['PassengerId'].str.split('_').str[0]
df_test['ID_Group']=df_test['PassengerId'].str.split('_').str[0]
df_train['ID_Group'].describe()

In [ ]:
#Description and Visual of Ages Transported
print(df_train['Age'].describe())
print('\n')
df_train[df_train['Age']<1].head()

In [ ]:
plt.figure(figsize=(10,12))
plt.scatter(list(df_train.index.values), df_train['Age'])
plt.xlabel('Index Value of Passenger')
plt.ylabel('Age of Passengers')
plt.show()

#hist_trans(df_train, 'Age')
plt.figure(figsize=(10,12))
transported = df_train[df_train["Transported"] == True]
stayed = df_train[df_train["Transported"] == False]
transported['Age'].plot.hist(alpha=0.5,color='red',bins=50)
stayed['Age'].plot.hist(alpha=0.5,color='blue',bins=50)
plt.legend(['Transported','Stayed'])
plt.show()

In [ ]:
#Function to put data frame column values in to bins
def process_bins(df,column,cut_points,label_names):
    df[column] = df[column].fillna(-0.5)
    df[column+'_Categories'] = pd.cut(df[column],cut_points,labels=label_names)
    return df

In [ ]:
#Putting ages in to bins
#It looks like babies are just listed as age 0
age_cut_points = [-1, -0.1, 2, 9.9, 17.9, 24.9, 59.9, 100]
age_label_names = ['Missing', 'Infant', 'Child', 'Teenager', 'Young Adult', 'Adult', 'Senior']
df_train = process_bins(df_train,'Age', age_cut_points, age_label_names)
df_test = process_bins(df_test,'Age', age_cut_points, age_label_names)

df_train.head(7)
#df_train[df_train['Age']<1].head(10)

In [ ]:
#Ploting Age bins vs Transported

pd.pivot_table(df_train,index = 'Age_Categories', columns = 'Transported',aggfunc ='size').plot.barh()
plt.xlabel('Age Category')
plt.ylabel('Passengers Transported')
plt.show()

In [ ]:
#Analyzing Families
families = df_train.groupby(['ID_Group','Age_Categories']).size().unstack('Age_Categories')
families.head(10)

In [ ]:
#Total members in a family
df_train['family_sum'] = df_train['Age_Categories'].groupby(df_train['ID_Group']).transform('count')
df_test['family_sum'] = df_test['Age_Categories'].groupby(df_test['ID_Group']).transform('count')


#total number of kids in each family
df_kids = df_train.loc[(df_train['Age_Categories']=='Infant')|(df_train['Age_Categories']=='Child')|(df_train['Age_Categories']=='Teenager'),
                       ['ID_Group','Age_Categories']]
df_train['family_kid_num'] = df_kids['Age_Categories'].groupby(df_kids['ID_Group']).transform('count')
df_train['family_kid_num'] = df_train['family_kid_num'].groupby(df_train['ID_Group']).transform('count')

df_kids = df_test.loc[(df_test['Age_Categories']=='Infant')|(df_test['Age_Categories']=='Child')|(df_test['Age_Categories']=='Teenager'),
                       ['ID_Group','Age_Categories']]
df_test['family_kid_num'] = df_kids['Age_Categories'].groupby(df_kids['ID_Group']).transform('count')
df_test['family_kid_num'] = df_test['family_kid_num'].groupby(df_test['ID_Group']).transform('count')


#families with infants and children
df_kids = df_train.loc[(df_train['Age_Categories']=='Infant')|(df_train['Age_Categories']=='Child'),
                       ['ID_Group','Age_Categories']]
df_train['family_small_kids'] = df_kids['Age_Categories'].groupby(df_kids['ID_Group']).transform('count')
df_train['family_small_kids'] = df_train['family_small_kids'].groupby(df_train['ID_Group']).transform('count')

df_kids = df_test.loc[(df_test['Age_Categories']=='Infant')|(df_test['Age_Categories']=='Child'),
                       ['ID_Group','Age_Categories']]
df_test['family_small_kids'] = df_kids['Age_Categories'].groupby(df_kids['ID_Group']).transform('count')
df_test['family_small_kids'] = df_test['family_small_kids'].groupby(df_test['ID_Group']).transform('count')


#families with teens
df_kids = df_train.loc[df_train['Age_Categories']=='Teenager',
                       ['ID_Group','Age_Categories']]
df_train['family_teen'] = df_kids['Age_Categories'].groupby(df_kids['ID_Group']).transform('count')
df_train['family_teen'] = df_train['family_teen'].groupby(df_train['ID_Group']).transform('count')

df_kids = df_test.loc[df_test['Age_Categories']=='Teenager',
                       ['ID_Group','Age_Categories']]
df_test['family_teen'] = df_kids['Age_Categories'].groupby(df_kids['ID_Group']).transform('count')
df_test['family_teen'] = df_test['family_teen'].groupby(df_test['ID_Group']).transform('count')


#kids traveling without adults
df_train['kids_without_adults'] = df_train.apply(lambda x: 1 if (x['family_sum'] - x['family_kid_num']) == 0 else 0, axis=1)
df_test['kids_without_adults'] = df_test.apply(lambda x: 1 if (x['family_sum'] - x['family_kid_num']) == 0 else 0, axis=1)

df_train[df_train['family_sum']>1].head(15)
df_test[df_test['family_sum']>1].head(15)
#df_train[df_train['family_sum','family_kid_num']].head(25)

In [ ]:
#Plots to compare different families
family_list = ['family_sum', 'family_kid_num', 'family_small_kids', 'family_teen', 'kids_without_adults']

fig = plt.figure(figsize=(18,18))
for i, feat in zip(range(1,6), family_list):
    ax_i = plt.subplot(3, 2, i)
    family_group = df_train.groupby([feat,'Transported']).size().unstack('Transported')
    family_group.plot(kind='bar', ax=ax_i)
    plt.setp(ax_i.get_xticklabels(), ha="center", rotation=0)
    ax_i.set_xlabel(feat)
    ax_i.set_ylabel('Passengers Transported')
    ax_i.set_title(feat)

plt.subplots_adjust(left=0.1,
                    bottom=0.5, 
                    right=0.8, 
                    top=1.2, 
                    wspace=0.2, 
                    hspace=0.2)

plt.show()

In [ ]:
#See list of columns again
df_train.columns

In [ ]:
#Plotting raw spending columns
#Removing all rows passengers are in Cryo Sleep
df_spend = df_train[df_train['CryoSleep']==False]
spend_locations = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

plt.figure(figsize=(12,8))
for location in spend_locations:
    plt.plot(list(df_spend.index.values),
             df_spend[location],
             label=location)
plt.legend()
plt.title('Money Spent Summary')
plt.xlabel('Index Value of Passenger')
plt.ylabel('Amount Spent By Passenger')
plt.show()

In [ ]:
#Total amount each persson spent
#spend_location-> list of location to spend money
df_train['Spend_Sum'] = df_train[spend_locations].sum(axis=1)
df_test['Spend_Sum'] = df_train[spend_locations].sum(axis=1)

df_train['Spend_Sum'].isnull().sum()

In [ ]:
#scatter plot of amount spend by awake passengers
df_awake = df_train[df_train['CryoSleep']==False]

#histogram of money spent by each passenger awake
plt.figure(figsize=(10,12))
transported = df_awake[df_awake["Transported"] == True]
stayed = df_awake[df_awake["Transported"] == False]
transported['Spend_Sum'].plot.hist(alpha=0.5,color='red',bins=50)
stayed['Spend_Sum'].plot.hist(alpha=0.5,color='blue',bins=50)
plt.legend(['Transported','Stayed'])
plt.title('Total Amount Spent By Each Passenger')
plt.xlabel('Amount of Passenger')
plt.ylabel('Sum of Money Spent By Passenger')
plt.show()

In [ ]:
#If they spent money at all vs transported
df_train['Spend_Sum_0'] = df_train.apply(lambda x: True if x['Spend_Sum'] == 0 else False, axis=1)
df_test['Spend_Sum_0'] = df_train.apply(lambda x: True if x['Spend_Sum'] == 0 else False, axis=1)

#Seeing how many spent $0 that were not Cryo Sleep
df_awake = df_train[df_train['CryoSleep']==False]
awake_sum = df_awake.groupby(['Spend_Sum_0','Transported']).size().unstack('Transported')
awake_sum.plot(kind='bar')
plt.title('Awake Passengers That Spent $0 Compared to Transported')
plt.xlabel('Passenger Spent $0')
plt.show()

In [ ]:
#list of all location money is spent on the spaceship by awake passengers
spend_all = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck','Spend_Sum']

#Description of how much money was spent at each location
for location in spend_all:
    #print((df_train[location]!=0).describe())
    print((df_train[location][df_train[location]!=0]).describe(include='all'))
    print('\n')

In [ ]:
#Looking for patterns in each location
#(df_train[['RoomService','Transported']][df_train['RoomService']>2000]).head(10)
#(df_train[['VRDeck','Transported']][df_train['VRDeck']>1000]).head(10)
#(df_train[['Spa','Transported']][df_train['Spa']>1000]).head(10)
#(df_train[['ShoppingMall','Transported']][df_train['ShoppingMall']>700]).head(10)
(df_train[['Spend_Sum','Transported']][df_train['Spend_Sum']>5000]).head(15)

In [ ]:
# Putting money spent in location in to bins
spend_locations = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
spend_cut_points = [-1, -0.1, 0.1, 2000, 30000]
spend_label_names = ['Missing', '$0', '$0.1_2000', '$2001_30000']

#list of spending locations -> spend_locations
for location in spend_locations:
    df_train = process_bins(df_train, location, spend_cut_points, spend_label_names)
    df_test = process_bins(df_test, location, spend_cut_points, spend_label_names)

In [ ]:
# sum_cut_points = [-1, -0.1, 0.1, 500, 1000, 2000, 4000, 5000, 30000]
# sum_label_names = ['Missing', '$0', '$0.1_500', '$501_1000','$1001_2000','$2001_3000','$3001_5000', '$5001_30000']
sum_cut_points = [-1, -0.1, 0.1, 500, 1000, 1500, 2500, 4000, 36000]
sum_label_names = ['Missing', '$0', '$0.1_500', '$501_1000','$1001_1500','$1501_2500',
                   '$2501_4000', '$4001_36000']
df_train = process_bins(df_train, 'Spend_Sum', sum_cut_points, sum_label_names)
df_test = process_bins(df_test, 'Spend_Sum', sum_cut_points, sum_label_names)

In [ ]:
#Plotting the money spent at each location
df_awake = df_train[df_train['CryoSleep']==False]

fig = plt.figure(figsize=(14,18))
for i, location in zip(range(1,7), spend_all):
    ax_i = plt.subplot(3, 2, i)
    #spend_pivot = df_train.pivot_table(index=location+'_Categories', values='Transported', aggfunc=np.sum)
    spend_pivot = pd.pivot_table(df_awake,index = location+'_Categories', columns = 'Transported',aggfunc ='size')
    spend_pivot.plot(kind='barh', ax=ax_i)
    plt.setp(ax_i.get_xticklabels(), ha="center", rotation=0)
    ax_i.set_ylabel(location)
    ax_i.set_xlabel('Passengers Transported')
    ax_i.set_title(location)

# plt.subplot(3,2,6)
# for location in spend_locations:
#     plt.plot(list(df_train.index.values),
#              df_train[location],
#              label=location)
# plt.legend()
# plt.title('Summary of All Money Spent')
# plt.xlabel('Index Value of Passenger')
# plt.ylabel('Amount Spent By Passenger')

plt.subplots_adjust(left=0.1,
                    bottom=0.5, 
                    right=0.9, 
                    top=1.2, 
                    wspace=0.4, 
                    hspace=0.4)

plt.show()

In [ ]:
#Since $0 leads for all spending locations
#compare $0 to money spent
#list of spending locations -> spend_locations

for location in spend_locations:
    df_train[location+'_0'] = df_train.apply(lambda x: 'True' if x[location] == 0 
                                              else ('False' if x[location] > 0 else 'Missing'), axis=1)
    df_test[location+'_0'] = df_test.apply(lambda x: 'True' if x[location] == 0 
                                              else ('False' if x[location] > 0 else 'Missing'), axis=1)

df_train['RoomService_0'].value_counts()

In [ ]:
#Plot $0 to if they spent any amount of money at the location
features_0 = ['RoomService_0', 'FoodCourt_0', 'ShoppingMall_0', 'Spa_0', 'VRDeck_0', 'Spend_Sum_0']
df_awake = df_train[df_train['CryoSleep']==False]

fig = plt.figure(figsize=(14,18))
for i, feat in zip(range(1,7), features_0):
    ax_i = plt.subplot(3, 2, i)
    money_group = df_awake.groupby([feat,'Transported']).size().unstack('Transported')
    money_group.plot(kind='bar', ax=ax_i)
    plt.setp(ax_i.get_xticklabels(), ha="center", rotation=0)
    ax_i.set_xlabel(feat)
    ax_i.set_ylabel('Passengers Transported')
    ax_i.set_title(feat)

plt.subplots_adjust(left=0.1,
                    bottom=0.5, 
                    right=0.9, 
                    top=1.2, 
                    wspace=0.4, 
                    hspace=0.4)

plt.show()

In [ ]:
df_train.columns

In [ ]:
#Removing the $0 spending from each location because it is in each bin
#col_remove = ['RoomService_Categories', 'FoodCourt_Categories', 
#              'ShoppingMall_Categories', 'Spa_Categories', 'VRDeck_Categories']
col_remove = ['RoomService_0', 'FoodCourt_0','ShoppingMall_0', 'Spa_0', 'VRDeck_0']
df_train = df_train.drop(col_remove, axis=1)
df_test = df_test.drop(col_remove, axis=1)

In [ ]:
df_train.columns

In [ ]:
#convert Cabin column in to two categorical columns:
#Deck and Side (P for port or S for Starboard)
df_train.Cabin.head(10)

df_train['Cabin_Deck'] = df_train.Cabin.str.split('/').str.get(0)
df_train['Cabin_Side'] = df_train.Cabin.str.split('/').str.get(-1)
df_test['Cabin_Deck'] = df_test.Cabin.str.split('/').str.get(0)
df_test['Cabin_Side'] = df_test.Cabin.str.split('/').str.get(-1)

df_train[['Cabin_Deck','Cabin_Side']].head()

In [ ]:
#Looking at how many rows have multiple missing data columns
print(df_train.isnull().sum())
print('\n')
print(df_train.isnull().sum(axis=1).value_counts())
#Total Number of rows with missing data: 957

In [ ]:
#Fill all N/A data with missing in remaining categorical columns
df_train.fillna('Missing', inplace=True)
df_test.fillna('Missing', inplace=True)
#df_train.head(10)
df_train.isnull().sum()

In [ ]:
#Plot Remaining Categorical Data Columns
features = ['HomePlanet', 'Destination', 'CryoSleep', 'VIP', 'Cabin_Deck', 'Cabin_Side']

#df_train.groupby('HomePlanet',as_index=False).agg({'HomePlanet': lambda x : ','.join(x.unique()), 'Transported':'sum'})
#df_train.groupby(['HomePlanet','Transported']).size().unstack('Transported').plot.bar()

fig = plt.figure(figsize=(14,18))
for i, feat in zip(range(1,7), features):
    ax_i = plt.subplot(3, 2, i)
    cat_group = df_train.groupby([feat,'Transported']).size().unstack('Transported')
    cat_group.plot(kind='bar', ax=ax_i)
    plt.setp(ax_i.get_xticklabels(), ha="center", rotation=0)
    ax_i.set_xlabel(feat)
    ax_i.set_ylabel('Passengers Transported')
    ax_i.set_title(feat)

plt.subplots_adjust(left=0.1,
                    bottom=0.5, 
                    right=0.9, 
                    top=1.2, 
                    wspace=0.4, 
                    hspace=0.4)

plt.show()

In [ ]:
print(df_train.shape)
print(df_test.shape)
df_train.columns

In [ ]:
df_train.dtypes

In [ ]:
#Calculate percentage of True/False/Missing from each categorical column
#bool_features = ['CryoSleep','VIP','RoomService_0','FoodCourt_0','ShoppingMall_0','Spa_0','VRDeck_0','Spend_Sum_0']
bool_features = ['CryoSleep','VIP']
for feature in bool_features:
    bool_percent = df_train[feature].value_counts() / len(df_train)
    print('Percentage of Values for '+feature+' :')
    print(bool_percent)
    print('\n')

In [ ]:
#Since the missing values for each feature is less than 1% I'm not going to remove the missing rows yet
#Instead converting True = 1, False = 0 and Missing = -1
#list of object boolean features -> bool_features
for feature in bool_features:
    #train df
    df_train[feature] = df_train[feature].replace({'False': 0, 'True': 1, 'Missing':-1})
    df_train[feature] = df_train[feature].replace({False: 0, True: 1, 'Missing':-1})
    #test df
    df_test[feature] = df_test[feature].replace({'False': 0, 'True': 1, 'Missing':-1})
    df_test[feature] = df_test[feature].replace({False: 0, True: 1, 'Missing':-1})
    
#Converting Transported to 1/0 values
df_train.Transported = df_train.Transported.replace({True: 1, False: 0})

df_train[['CryoSleep', 'VIP','Transported']].describe(include='all')

In [ ]:
#Dummy values for all categorical data
cat_features = ['HomePlanet', 'CryoSleep', 'Destination', 
                 'VIP','Age_Categories', 'RoomService_Categories',
                 'FoodCourt_Categories','ShoppingMall_Categories',
                 'Spa_Categories','Spend_Sum_Categories',
                'VRDeck_Categories','Cabin_Deck','Cabin_Side']

#cat_features = ['HomePlanet', 'Destination', 'Age_Categories', 'Cabin_Deck', 'Cabin_Side']

dummy_train_df = pd.get_dummies(df_train[cat_features])
df_train = pd.concat([df_train, dummy_train_df], axis=1)

dummy_test_df = pd.get_dummies(df_test[cat_features])
df_test = pd.concat([df_test, dummy_test_df], axis=1)

df_train.head(10)

In [ ]:
#Clean the names of some of the columns

df_train.columns = df_train.columns.str.replace('_Categories_', '_')
df_test.columns = df_test.columns.str.replace('_Categories_', '_')

In [ ]:
#Drop original Category columns:
cat_col = ['Age_Categories', 'RoomService_Categories',
                 'FoodCourt_Categories','ShoppingMall_Categories',
                 'Spa_Categories','Spend_Sum_Categories',
                'VRDeck_Categories','Cabin_Deck','Cabin_Side']
df_train = df_train.drop(cat_col, axis=1)
df_test = df_test.drop(cat_col, axis=1)

#Removing Sum $0 from dummy variables
df_train = df_train.drop('Spend_Sum_$0', axis=1)
df_test = df_test.drop('Spend_Sum_$0', axis=1)

In [ ]:
#Double checking my test data frame is the same number of columns 
#(minuse Transported) as the train data frame
print(df_train.shape)
print(df_test.shape)
df_train.columns

In [ ]:
#Exporting Full Data Frame
#Next File will be performing the Machine Learning
#Duplicate columns and weak features will be removed in the Machine Learning File

#df_train.to_csv(data_file_path+'Analysis_Train_SpaceTitanic.csv',index=False)
#df_test.to_csv(data_file_path+'Analysis_Test_SpaceTitanic.csv', index=False)